{% extends "base.html" %}
{% set sidebar_enabled = false %}

{% block title %}
  {{ page_title | default("ページタイトル") }}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    {% block top_right_button %}
      {% endblock %}
  </div>

  <form method="POST" class="form-main-content customer-form form-theme-custom" >
    <div class="form-action-btns mb-4">
      {% block left_buttons %}
        {% endblock %}
    </div>
    <div class="main-content-fields">
      {% block main_content %}
        {% endblock %}
    </div>
  </form>
{% endblock %}

{% block script %}
    {# 親テンプレート(base.html)のスクリプトを先に読み込む #}
    {{ super() }}

    {# --- このフォームページで共通して使うJS --- #}
    {# 1. jQuery本体を読み込む #}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    {# 2. ★★★ 共通JSファイルである form_page_base.js を読み込む ★★★ #}
    <script src="{{ url_for('static', filename='js/form_page_base.js') }}"></script>
{% endblock %}