{% extends "base.html" %}
{% set sidebar_enabled = false %}

{% block title %}
  {{ page_title | default("ページタイトル") }}
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    {% block top_right_button %}
      {% endblock %}
  </div>

  <form method="POST" class="form-main-content customer-form form-theme-custom" >
    <div class="form-action-btns mb-4">
      {% block left_buttons %}
        {% endblock %}
    </div>
    <div class="main-content-fields">
      {% block main_content %}
        {% endblock %}
    </div>
  </form>
{% endblock %}